span {
    font-style: italic;
    }
    .container {
        width: 500px; /* Ширина контейнера */
        margin: 0 auto; /* Центрирование по горизонтали */
    }
    
    .container img {
        width: 100%; 



    .list-contaner{
        display: inline-block;
        border-style: solid;
        border: width 0.5px;
    }

    .img-container{
        float: right;
        border-style: solid;
        padding: 5px;
        margin-left: 10px;
    }